/* CSS for diepio Website with Class Guides */

body {
	color: #000;
	background-color: #FFF;
	margin: 0px 100px 0px;
	font-family: ubuntu, sans-serif;
}
body center {
 	display: block;
 	text-align: center;	
 	position: relative;
	font-size: 200%;
}

h1 {
	color: #4285F4;
	text-align: center;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 100px;
}

p {
	font-family: ubuntu, sans-serif;
	color: #000;
}

img {
	max-width: 100%;
	padding: 10px;
}

#page_title {
	color: #4285F4;
	text-align: center;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 70px;
}
/*List of Helpful Links*/
ul {
	display: inline;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
	font-size: 20px;
}

li {
	display: inline;
	list-style-type: none;
	float: left;
}

li a {
	display: block; 
	color: #777777;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover {
	color: #222222;
}
