/* CSS for diepio Website with Class Guides */

body {
	background-color: #FFF;
	background-repeat: repeat-y repeat-x;
	margin: 0px 100px 0px;
	font-family: ubuntu, sans-serif;
	z-index: -1;
}
h1 {
	color: #000;
	text-align: center;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 400%;
	z-index: -1;
	}
a:link {
	color: #1A0DAB;
	text-decoration: none;
	}
a:visited {
	color: #1A0DAB;
	text-decoration: none;
	}
a:hover {
	color: #1A0DAB;
	text-decoration: underline;
	}
a:active {
	color: #1A0DAB;
	text-decoration: underline;
	}
	
p {
	font-family: Ubuntu, Sans-Serif;
	color: #000;
}
img {
	border-radius: 40px;
	max-width: 100%;
	padding: 10px;
	}
#img_normal {
	max-width: 100%;
}
#guide_title {
	text-align: left;
	font-size: 200%;
	color: #4285F4;
	}
#sec_head {
	font-size: 20px;
	color: #E9493A;
/*List of Helpful Links*/
ul {
	display: inline;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
	list-style-type: none;
	}
li {
	list-style-type: none;
	float: left;
	}
li a {
	display: block; 
	color: #777777;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	}
li a:hover {
	color: #222222;
	}
img:hover {
	background-color: #F2F2F2;
}
