/* CSS for diepio Website with Class Guides */

body {
	color: #000;
	background-color: #FFF;
	margin: 0px 100px 0px;
	font-family: ubuntu, sans-serif;
}
h1 {
	color: #000;
	text-align: center;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 400%;
}
p {
	font-family: ubuntu, sans-serif;
	color: #000;
}
img {
	max-width: 100%;
	padding: 10px;
}
#guide_title {
	text-align: left;
	font-size: 200%;
	color: #4285F4;
}
#sec_head {
	font-size: 20px;
	color: #E9493A;
}
/*List of Helpful Links*/
ul {
	display: inline;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
}
li {
	display: inline;
	list-style-type: none;
	float: left;
}
li a {
	display: block; 
	color: #777777;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}
li a:hover {
	color: #222222;
}
