/* CSS for diepio Website with Class Guides */

body {
	background-color: #36393E;
	background-repeat: repeat-y repeat-x;
	margin: 0px 200px 0px;
	font-family: ubuntu, sans-serif;
	z-index: -1;
}
h1 {
	color: #FFF;
	text-align: center;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 400%;
	z-index: -1;
	}
a:link {
	color: #2196F3;
	text-decoration: none;
	}
a:visited {
	color: #2196F3;
	text-decoration: none;
	}
a:hover {
	color: #2196F3;
	text-decoration: none;
	}
a:active {
	color: #2196F3;
	text-decoration: none;
	}
	
p {
	font-family: Ubuntu, Sans-Serif;
	color: #FFFFFF;
	background-color: #36393E;
	z-index: -1;
}
img {
	border-radius: 4px;
	max-width: 100%;
	}
#guide_title {
	text-align: left;
	font-size: 200%;
	color: #2196F3;
	}
#guide_image {
	font-size: 150%;
	color: #FF371F;
	}
/*DROPDOWN BUTTON*/
.dropbtn {
	background-color: #2E3136;
	color: #FFF;
	padding: 20px;
	font-size: 200%;
	border: none;
	cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: #282B30;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2E3136; 
	min-width: 200px;
	z-index: 1;
}
.dropdown-content a {
	color: #FFF;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #2196F3;
}
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function openbtn() {
    document.getElementById("dropcont").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

/*List of Helpful Links*/
ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2E3136;
	}
li {
	float: left;
	}
li a {
	display: block; 
	color: #FFF;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	}
li a:hover {
	background-color: #282B30;
	}
